<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<title>Katrina's Portfolio</title>
		<!--These are the links for the CSS and pictures/icon -->
		<link rel="stylesheet" href="css/about.css">
	</head><!-- Your home page goes here -->

	<body>
	
		<!-- <div id="HSection">{{about}}</div> -->
	<section class="layer">
		<div id="fact1">a 19-year old enthusiastic girl currently in Seattle, WA
			<img id="seattle" src='../img/seattle.jpg'></img> 	
		</div>
	</section>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 792 792"><path d="M396.065 792l-10.155-17.896c-1.455-2.568-146.63-258.487-186.97-333.42-25.627-47.656-55.543-125.468-55.543-187.954C143.397 113.377 256.72 0 396.012 0c139.275 0 252.59 113.377 252.59 252.73 0 60.357-27.956 141.853-54.272 187.9-47.1 82.137-186.792 330.928-188.192 333.428L396.065 792zm-.053-768.78c-126.49 0-229.394 102.96-229.394 229.51 0 54.436 26.502 128.1 52.764 176.947C253.354 492.774 362.11 685 395.958 744.747c33.09-58.897 138.5-246.4 178.2-315.65 25.172-44.042 51.21-122.07 51.21-176.367.015-126.55-102.883-229.51-229.356-229.51zm0 343.43c-63.214 0-114.64-51.442-114.64-114.67 0-63.245 51.426-114.702 114.64-114.702 63.19 0 114.606 51.457 114.606 114.7-.007 63.23-51.416 114.67-114.606 114.67zm0-206.15c-50.412 0-91.418 41.037-91.418 91.48 0 50.426 41.007 91.45 91.418 91.45 50.388 0 91.388-41.03 91.388-91.45-.008-50.443-41.008-91.48-91.388-91.48z"/></svg>
		
		<div id="fact4">Originally from Long Island, New York
			<img id="NewYork" src="../img/new_york.jpg">
		</div>

		<div id="fact2" class="row col-md-12">Passions are dancing, traveling, and people. I love family, eating, exploring, photography, and design
			<img src="../img/dance.jpg" class="col-md-4" id="dance">
			<img src="../img/family.jpg" class="col-md-4" id="family">
			<img src="../img/travel.jpg" class="col-md-4" id="travel">
		</div>

		<div id="fact3">Received Associate of Arts &amp; Sciences from Bellevue College and transferring to University of Washington to attain my Bachelor’s Degree of Informatics
			<img src="../img/uw.jpg" id="uw">
		</div>

		<div class="bottom">

			<div class="row">

				<div class="col-sm-3"><span>&copy; 2015 Katrina Saulon</span></div>

					<div class="col-sm-9">
					<p id="credits">Follow Katrina on Twitter and Instagram
    				<a href="https://twitter.com/katkat2rd" title="Twitter">@katkat2rd</a>, 
    				<a href="http://instagram.com/katphkat" title="Instagram">Instagram</a>
    		
					</p>

					</div>
	

				</div>

	</body>


</html>
